:root{
  --accent: #F13C6E;
  --dark: #000;
  --white: #fff;
  --whiteOpacity: rgba(255, 255, 255, 0.4);
  --dark-gray: #333;
  --gray: #828282;
  --light-gray: #C4C4C4;
  --lighter-gray: #EFEFEF;
  --bold: 700;
  --medium: 500;
  --regular: 400;
  --font: 'Roboto', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: var(--font);
  border: none;
  background: transparent;
  list-style-type: none;
  text-decoration: none;
}

.header{

}

.nav{
  background-color: var(--lighter-gray);
}

.nav > .menu{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav > .menu > .menu-item{
  padding: 17px 10px;
  font-weight: var(--regular);
}

.nav2{
  background-color: var(--white);
  border-top: 1px solid var(--lighter-gray)
}

.nav2 > .menu2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.nav2 > .menu2 > .menu-item2{
  padding: 30px 15px;
  font-weight: var(--regular);
}

.callback{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo > .logo__text{
  text-transform: uppercase;
  color: var(--accent);
  font-size: 36px;
  font-weight: var(--bold);
  letter-spacing: 3.6px;
}

.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.cta > a{
  color: var(--dark);
  font-size: 16px;
  font-weight: var(--regular);
}

.cta > .cta__btn{
  font-weight: var(--regular);
  color: var(--dark);
  border: 2px solid var(--accent);
  background-color: var(--white);
  border-radius: 40px;
  padding: 8px 50px;
}

.special{
  background-color: var(--lighter-gray);
  padding: 80px 0;
  width: 100%;
}

.container{
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.goods{
  background-color: var(--lighter-gray);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.goods > .title{
  background-color: var(--lighter-gray);
  font-weight: var(--bold);
  font-size: 24px;
  padding-bottom: 38px;
  align-self: center;
  width: 80%;
}

.goods > .goods-list{
  display: flex;
  gap: 30px;
  width: 80%;
  align-items: center;
  justify-content: center;
}

.goods > .goods-list > .item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
  gap: 20px;
  background-color: var(--white);
}

.goods > .goods-list > .item > img{
  width: 125px;
}

.goods > .goods-list > .item > .name{
  color: var(--dark-gray);
  font-weight: var(--regular);
  line-height: 140%;
  text-align: center;
  width: 80%;
}

.goods > .goods-list > .item > .price{
  color: var(--dark);
  font-weight: var(--medium);
  text-align: center;
  letter-spacing: 1.05px;
  font-size: 21px;
}

.goods > .goods-list > .item > .btn{
  border-radius: 30px;
  background-color: var(--accent);
  color: var(--white);
  font-weight: var(--regular);
  letter-spacing: 0.7px;
  padding: 9px 53px;
}

.promo{
  display: flex;
  gap: 30px;
  width: 90%;
  margin: 100px 0;
  justify-content: center;
  align-items: stretch;
}

.promo > .card{
  background-color: var(--accent);
  padding: 35px 40px;
  display: flex;
  gap: 45px;
  align-items: center;
}

.promo > .card > .content{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.promo > .card > .content > .name{
  color: var(--white);
  font-weight: var(--bold);
  font-size: 18px;
}

.promo > .card > .content > .text{
  color: var(--white);
  font-weight: var(--regular);
  width: 60%;
  line-height: 155%;
}

.promo > .card > .content > .promo__input{
  font-weight: var(--regular);
  width: 225px;
  padding: 9px 0 9px 25px;
  color: var(--dark);
  background-color: var(--white);
  border-radius: 30px;
}

.promo > .card > .content > .promo__input::placeholder{
  color: var(--light-gray);
}

.promo > .card > .content > .promo__btn{
  color: var(--white);
  font-weight: var(--regular);
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 30px;
  padding: 9px 53px;
}

.promo > .card > .img{
  max-width: 189px;
}
.foto{
  position: relative;

}
.foto h3{
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.example{ 
  display: inline-block;
  position: relative;
}

.example .example1 .text1{
  display: inline-block;
  position: absolute;
  top: 100px;
  left: 200px;

  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;

}
.example >.example2 .text2{
  display: inline-block;
  position: absolute;
  top: 180px;
  left: 200px;

  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}
.example > .example3 >.btn1{
  display: inline-block;
  position: absolute;
  top: 250px;
  left: 200px;
  border-radius: 30px;
  background-color: var(--accent);
  border: 2px solid var(--white);
  color:var(--white);
  font-weight: var(--regular);
  letter-spacing: 0.7px;
  padding: 9px 53px;
}
.blok_5_impus{
  display: flex;
  justify-content:center;
  margin: 20px;
  background-color: white;
}
.impuls .impuls1 .impuls2 .impuls3{
  display: flex;
  width: 200px;
  height: 100px;
  background-color:white;
  align-items: center;
}
.impuls .img{
  display: flex;
  gap: 110px;
  padding: 40px 80px;
}
.zagolovki_dlya_b_7{
  display: flex;
  font-size: 16px;
  padding: 20px ;
  gap: 20px;
  align-items: center;
  flex-direction:column;
}
.kontent_dlya_b_7{
  display: flex;
  font-size: 12px;
  padding: 20px ;
  gap: 20px;
  align-items: center;
}
.kontent{
  display: flex;
  
  justify-content: space-around;
}
.end{
  display: flex;
  justify-content: space-around;
  padding: 20px ;
  font-size: 12px;
}